<ion-view view-title="Home" class="home">

    <ion-content class="scroll-fix" has-bouncing="false" scroll="false">

        <div style="padding:20px;">
            <p>Package: <%= packageName %></p>
            <p>Description: <%= packageDescription %></p>
            <p>Diagnostic: {{vm.diagnostic}}</p>

            <!-- Example of a Common Directive -->
            <ygh-common-example></ygh-common-example>
            <ygh-web-example></ygh-web-example>

        </div>

    </ion-content>

</ion-view>
