<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard -->
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- More -->
    <ion-tab title="More" icon-off="ion-android-more-vertical" icon-on="ion-android-more-vertical" href="#/tab/more">
        <ion-nav-view name="tab-more"></ion-nav-view>
    </ion-tab>

</ion-tabs>
