<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title><%= projectName %></title>

    <!-- app.css is compiled by gulp -->
    <link href="css/app.min.css" rel="stylesheet">

    <!--build:js lib/angular.js -->
    <script src="lib/managed/angular/angular.min.js"></script>
    <!-- endbuild -->


    <script src="app.js"></script>

</head>
<body ng-controller="AppController as app">

<div>

</div>

</body>
</html>
