<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Change Password</h1>
    </ion-header-bar>

    <ion-content>

        <div class="row">
            <div class="col">
                <div ng-if="more.isTempPass">
                    <p>You are using a temporary password that must be changed.</p>
                </div>

                <form novalidate name="pwChangeForm" ng-submit="more.changePassword(pwChangeForm.$valid)">
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Current Password</span>
                            <input type="password" name="currentPW" ng-model="more.currentPW"
                                   ng-model-options="{ debounce: 1000 }"
                                   placeholder="current password"
                                   required>

                            <div ng-messages="pwChangeForm.currentPW.$error" class="pwChange-error"
                                 ng-if="pwChangeForm.currentPW.$dirty">
                                <div ng-messages-include="more/messages.html"></div>
                            </div>
                        </label>

                        <label class="item item-input item-floating-label">
                            <span class="input-label">New Password</span>
                            <input type="password" name="newPW" ng-model="more.newPW"
                                   ng-model-options="{ debounce: 1000 }"
                                   placeholder="new password"
                                   required minlength="7">

                            <div ng-messages="pwChangeForm.newPW.$error" class="pwChange-error"
                                 ng-if="pwChangeForm.newPW.$dirty">
                                <div ng-messages-include="more/messages.html"></div>
                            </div>
                        </label>

                        <label class="item item-input item-floating-label">
                            <span class="input-label">Confirm New Password</span>
                            <input type="password" name="newPWConfirm" ng-model="more.newPWConfirm"
                                   ng-model-options="{ debounce: 1000 }"
                                   placeholder="confirm new password"
                                   compare-to="more.newPW"
                                   required minlength="7">

                            <div ng-messages="pwChangeForm.newPWConfirm.$error" class="pwChange-error"
                                 ng-if="pwChangeForm.newPWConfirm.$dirty">
                                <div ng-messages-include="more/messages.html"></div>
                            </div>
                        </label>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="button button-block button-positive">Change</button>
                        </div>
                        <div class="col" ng-if="!more.isTempPassword()">
                            <a class="button button-block button-stable" ng-click="more.closePasswordChangeModal()">
                                cancel
                            </a>
                        </div>

                    </div>

                    <div class="pwChange-error">
                        <p>{{more.changePasswordErr}}</p>
                    </div>
                </form>
            </div>
        </div>

    </ion-content>
</ion-modal-view>